# --- MATLAB / Simulink ---
*.asv        # Autosave (Windows)
*.m~         # Autosave (OSX/*nix)
*.mex*       # Compiled MEX
*.mlappinstall
*.mltbx
*.autosave   # Simulink autosave
*.slxc       # Simulink cache
slprj/
sccprj/
codegen/
helpsearch*/

# --- Octave ---
octave-workspace

# --- LaTeX / Xournal / Overleaf ---
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
*.slxc
# --- Xournal ---
*.xopp
*.autosave.xopp

# --- Build / Generated folders ---
build/
# --- Carpetas específicas del proyecto ---
Informe/
Informe/main.pdf
